@(currentPage: Page)(implicit req: RequestHeader)

<header>
    <ul class="nav-links">
            <!--  nagivation links requires inverse route logic compared to normal href links -->
        @if(req.loggedIn) {
            <li>
                <a id="nav-logout" href="@routes.LoginController.logout()">LOGOUT</a>
            </li>
            <li>
                <a id="nav-input" href="@routes.HomeController.input()">INPUT</a>
            </li>
        } else {
            <li>
                <a class="@if(currentPage == Page.Register) { active }" id="nav-register" href="@routes.LoginController.register()">REGISTER</a>
            </li>
            <li>
                <a class="@if(currentPage == Page.Login) { active }" id="nav-login" href="@routes.LoginController.login()">LOGIN</a>
            </li>
        }
        <li>
            <a id="nav-status" href="@routes.HomeController.status()">CURRENT STATUS</a>
        </li>
        <li style="float:right">
            <a class="@if(currentPage == Page.Home) { active }" href="@routes.HomeController.index()">HOME</a>
        </li>
    </ul>
</header>